html,
body,

/*Mobile*/
#viewDiv {
    position: fixed;
    padding: 0;
    top: 0px;
    bottom:5%;
    width: 100%;
    height: 100vh;
    z-index: 1
}

/*#StoryMap {*/
    /*!*display:none;*!*/
    /*position: absolute;*/
    /*height: 500px;*/
    /*width: 500px;*/
    /*z-index:10;*/
    /*top: 50px;*/
/*}*/

/*iframe{*/
    /*display:none;*/
    /*position: absolute;*/
    /*height: 90%;*/
    /*width: 90%;*/
    /*z-index:10;*/
    /*top: 5%;*/
    /*left: 5%;*/
    /*bottom: 5%;*/
    /*right: 5%;*/
/*}*/

.btns {
    position: absolute;
    top: 85px;
    left: 14.5px;
    height: 32px;
    width: 32px;
    z-index: 7;
    background-color: #ffffff;
}

/* setting the style for the globe icon, which replaces the house icon in the home widget */
.esri-icon-globe {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 30px;
    /* height: 100%;
    width: 100%; */
    z-index: 7;
    /* color: #ffffff; */
}

.tundra.dijitSliderImageHandleH {
    background-color: black
}

#search {
    position: fixed;
    height: 5%;
    width: 100%;
    bottom: 0;
    z-index: 1;
    min-height: 40px;
    background-color: rgba(0,0,0,0.8);
}

#searchTools {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    position: relative;
    min-height: 50px;
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*top: 89%;*/
    /*left: 33%;*/
    /* margin: 20px 20px 20px 20px; */
    /*height: 10%;*/
    /*width: 33%;*/
    /* background-color: #7db0cc; */
    z-index: 2;

}

#yearRangeContainer {
    z-index: 3;
    /*background-color: #7db0cc;*/
    background-color: rgba(0,0,0,0);
    padding: 5px;
    width: 50%;
    margin: auto;
}

#startYear{
    float: left;
    width: 20%;
    min-width: 50px;
    /*background-color: #ffffff;*/
    background-color: #7db0cc;
    font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-size: 14px;*/
    font-size: 1em;
    color: #323232;
    text-align: center;
    border-radius: 5px;
    border-color: rgba(0,0,0,0);
    /*padding: 5px;*/
}

#endYear{
    float: right;
    width: 20%;
    min-width: 50px;
    /*background-color: #ffffff;*/
    background-color: #7db0cc;
    font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-size: 14px;*/
    font-size: 1em;
    color: #323232;
    text-align: center;
    border-radius: 5px;
    border-color: rgba(0,0,0,0);

}

#yearRangeLabels{
    z-index: 5;
    /*background-color: #7db0cc;*/
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.esri-popup__action-text{
    font-size: 16px;
    color: #323232;
    /* padding: 5px; */

}

/* original design, blue background */
/* .esri-popup__button.esri-popup__action{
  display: inline-block;
  background-color: #7db0cc;
  border-radius: 10px;
} */

.esri-popup__button.esri-popup__action{
    display: inline-block;
    background-color: #7db0cc;
    border-radius: 10px;
    padding: 10px 16px;
}

.esri-popup__header-title{
    font-size: 18px;
    font-weight: bold;
}

.esri-feature__text.esri-feature__content-element{
    font-size: 16px;
}

.esri-popup__feature-buttons{
    /* background: rgba(0,0,0, 0.8); */
    background-color: #ffffff;
}

.esri-popup__feature-buttons, .esri-popup__feature-buttons{
    font-weight: 400;
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
    padding: 5px;
}

.esri-popup__feature-buttons .esri-popup__actions{
    padding: 3px 3px;
    display: flex;
    flex: 2;
    align-items: center;
}

.esri-popup__icon{
    color: #323232;
}

/*.dijitSliderImageHandle .dijitSliderImageHandleH {*/
    /*background-color: #7db0cc;*/
/*}*/

/*.tundra .digitSliderFocused .digitSliderImageHandleH {*/
    /*background: #7db0cc;*/
/*}*/

/*.tundra .dijitSliderImageHandleH {*/
    /*background: #7db0cc;*/
    /*width: 10px;*/
    /*height: 20px;*/



/*Desktop*/
@media screen and (min-width: 700px) {
    #viewDiv {
        position: fixed;
        padding: 0;
        top: 120px;
        bottom: 0;
        /* margin: 32px 0 0 0; */
        /*height: 92%;*/
        width: 100%;
        z-index: 1
    }
    #search {
        position: fixed;
        height: 5%;
        width: 33%;
        bottom: 5%;
        left: 33%;
        z-index: 1;
        min-height: 40px;
        background-color: rgba(0,0,0,0.7);
        border-radius: 10px;
    }

    /*#searchTools {*/
        /*display: inline-block;*/
        /*vertical-align: middle;*/
        /*margin: auto;*/
        /*position: relative;*/
        /*min-height: 50px;*/
        /*!*margin-left:auto;*!*/
        /*!*margin-right:auto;*!*/
        /*!*top: 89%;*!*/
        /*!*left: 33%;*!*/
        /*!* margin: 20px 20px 20px 20px; *!*/
        /*!*height: 10%;*!*/
        /*!*width: 33%;*!*/
        /*!* background-color: #7db0cc; *!*/
        /*z-index: 2;*/

    /*}*/

    #yearRangeContainer {
        max-height: inherit;
        z-index: 3;
        /*background-color: #7db0cc;*/
        background-color: rgba(0,0,0,0);
        padding: 10px;
        width: 75%;
        margin: auto;
    }

    #startYear{
        float: left;
        width: 20%;
        min-width: 50px;
        /*background-color: #ffffff;*/
        background-color: #7db0cc;
        font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*font-size: 14px;*/
        font-size: 1em;
        color: #323232;
        text-align: center;
        border-radius: 5px;
        border-color: rgba(0,0,0,0);
        /*padding: 5px;*/
    }

    #endYear{
        max-height: inherit;
        float: right;
        width: 20%;
        min-width: 50px;
        /*background-color: #ffffff;*/
        background-color: #7db0cc;
        font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*font-size: 14px;*/
        font-size: 1em;
        color: #323232;
        text-align: center;
        border-radius: 5px;
        border-color: rgba(0,0,0,0);

    }

    #yearRangeLabels{
        z-index: 5;
        /*background-color: #7db0cc;*/
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }
}
